{{define "body"}}
{{template "nav" .}}
<div id="about">
  <picture>
    <source media="(min-width: 768px)" srcset="http://alison-d-photography.imgix.net/img/alison-8.JPG?auto=compress&w=768 1x, http://alison-d-photography.imgix.net/img/alison-8.JPG?auto=compress&w=768&dpr=2 2x">
    <source media="(min-width: 480px)" srcset="http://alison-d-photography.imgix.net/img/alison-8.JPG?auto=compress&w=480 1x, http://alison-d-photography.imgix.net/img/alison-8.JPG?auto=compress&w=480&dpr=2 2x">
    <img src="/static/img/alison-8.JPG" alt="">
  </picture>
  <h1>Hey, I'm Alison.</h1>
  <p>I’m a destination wedding photographer based out of the crazy beautiful mountains of Salt Lake City, Utah. More importantly I’m a human being who loves climbing with friends listening to Biggie Smalls, bashing on every season of the bachelor (I secretly love it, and I know you do too), watching dog videos before I fall asleep every night, snowboarding and not totally sucking at it, playing endless board games and eating way too much Taco Bell and McDonalds. My love languages are memes and homemade chocolate chip cookies. I’m married to the weirdest best human I’ve ever met (he’s an incredible videographer, check out his work here) and together we travel the world shooting incredible couple’s stories, whom we like to call our friends.</p>

  <picture>
    <source media="(min-width: 768px)" srcset="http://alison-d-photography.imgix.net/img/alison-1.JPG?auto=compress&w=768 1x, http://alison-d-photography.imgix.net/img/alison-1.JPG?auto=compress&w=768&dpr=2 2x">
    <source media="(min-width: 480px)" srcset="http://alison-d-photography.imgix.net/img/alison-1.JPG?auto=compress&w=480 1x, http://alison-d-photography.imgix.net/img/alison-1.JPG?auto=compress&w=480&dpr=2 2x">
    <img src="/static/img/alison-1.JPG" alt="">
  </picture>
  <h1>I love coffee almost as much as I love...</h1>

  <picture>
    <source media="(min-width: 768px)" srcset="http://alison-d-photography.imgix.net/img/alison-7.JPG?auto=compress&w=768 1x, http://alison-d-photography.imgix.net/img/alison-7.JPG?auto=compress&w=768&dpr=2 2x">
    <source media="(min-width: 480px)" srcset="http://alison-d-photography.imgix.net/img/alison-7.JPG?auto=compress&w=480 1x, http://alison-d-photography.imgix.net/img/alison-7.JPG?auto=compress&w=480&dpr=2 2x">
    <img src="http://alison-d-photography.imgix.net/img/alison-7.JPG" alt="">
  </picture>
  <h1>him. And I love him almost as much as I love...</h1>

  <picture>
    <source media="(min-width: 768px)" srcset="http://alison-d-photography.imgix.net/img/alison-4.JPG?auto=compress&w=768 1x, http://alison-d-photography.imgix.net/img/alison-4.JPG?auto=compress&w=768&dpr=2 2x">
    <source media="(min-width: 480px)" srcset="http://alison-d-photography.imgix.net/img/alison-4.JPG?auto=compress&w=480 1x, http://alison-d-photography.imgix.net/img/alison-4.JPG?auto=compress&w=480&dpr=2 2x">
    <img src="http://alison-d-photography.imgix.net/img/alison-4.JPG" alt="">
  </picture>
  <h1>my cat. Jk, I love them the same! lol</h1>

  <picture>
    <source media="(min-width: 768px)" srcset="/static/img/alison-2.JPG?auto=compress&w=768 1x, http://alison-d-photography.imgix.net/img/alison-2.JPG?auto=compress&w=768&dpr=2 2x">
    <source media="(min-width: 480px)" srcset="http://alison-d-photography.imgix.net/img/alison-2.JPG?auto=compress&w=480 1x, http://alison-d-photography.imgix.net/img/alison-2.JPG?auto=compress&w=480&dpr=2 2x">
    <img src="http://alison-d-photography.imgix.net/img/alison-2.JPG" alt="">
  </picture>
  <h1>You get sneak peaks within a week of your wedding!</h1>

  <picture>
    <source media="(min-width: 768px)" srcset="http://alison-d-photography.imgix.net/img/alison-3.JPG?auto=compress&w=768 1x, http://alison-d-photography.imgix.net/img/alison-3.JPG?auto=compress&w=768&dpr=2 2x">
    <source media="(min-width: 480px)" srcset="http://alison-d-photography.imgix.net/img/alison-3.JPG?auto=compress&w=480 1x, http://alison-d-photography.imgix.net/img/alison-3.JPG?auto=compress&w=480&dpr=2 2x">
    <img src="http://alison-d-photography.imgix.net/img/alison-3.JPG" alt="">
  </picture>
  <h1>I've shot weddings in 4 states and have plans for more!</h1>


  <img id="music" src="http://alison-d-photography.imgix.net/img/alison-5.JPG?auto=compress&w=768 2x" alt="">
  <h1>I'll sing along, "Sweet Caroline! Ba ba ba!"</h1>
</div>

{{template "contact" .}}

{{end}}
