{{define "body"}}
{{template "nav" .}}
<div id="about">
  <picture>
    <source media="(min-width: 768px)" srcset="http://alison-d-photography.imgix.net/img/alison-8.JPG?auto=compress&w=768 1x, http://alison-d-photography.imgix.net/img/alison-8.JPG?auto=compress&w=768&dpr=2 2x">
    <source media="(min-width: 480px)" srcset="http://alison-d-photography.imgix.net/img/alison-8.JPG?auto=compress&w=480 1x, http://alison-d-photography.imgix.net/img/alison-8.JPG?auto=compress&w=480&dpr=2 2x">
    <img src="/static/img/alison-8.JPG" alt="">
  </picture>
  <h1>Hey, I'm Alison.</h1>
  <p>Hi! I’m Alison. I have one of the coolest jobs in the world - I get to hang out with the happiest people on their best days ever! I’ve photographed weddings all down the west coast, Florida, Utah & Colorado but I’m always ready for an adventure! When I’m not photographing 30+ weddings a year, you’ll find me on my bike riding to my favorite spots, cooking up something good with my farmers market finds and watching The Office before bed every single night. I also have two very talkative cats who love to wake me up every morning by tapping my nose and reminding me that I need to fill their already full bowls.</p>

  <picture>
    <source media="(min-width: 768px)" srcset="http://alison-d-photography.imgix.net/img/alison-1.JPG?auto=compress&w=768 1x, http://alison-d-photography.imgix.net/img/alison-1.JPG?auto=compress&w=768&dpr=2 2x">
    <source media="(min-width: 480px)" srcset="http://alison-d-photography.imgix.net/img/alison-1.JPG?auto=compress&w=480 1x, http://alison-d-photography.imgix.net/img/alison-1.JPG?auto=compress&w=480&dpr=2 2x">
    <img src="/static/img/alison-1.JPG" alt="">
  </picture>
  <h1>I love coffee almost as much as I love...</h1>

  <picture>
    <source media="(min-width: 768px)" srcset="http://alison-d-photography.imgix.net/img/alison-7.JPG?auto=compress&w=768 1x, http://alison-d-photography.imgix.net/img/alison-7.JPG?auto=compress&w=768&dpr=2 2x">
    <source media="(min-width: 480px)" srcset="http://alison-d-photography.imgix.net/img/alison-7.JPG?auto=compress&w=480 1x, http://alison-d-photography.imgix.net/img/alison-7.JPG?auto=compress&w=480&dpr=2 2x">
    <img src="http://alison-d-photography.imgix.net/img/alison-7.JPG" alt="">
  </picture>
  <h1>him. And I love him almost as much as I love...</h1>

  <picture>
    <source media="(min-width: 768px)" srcset="http://alison-d-photography.imgix.net/img/alison-4.JPG?auto=compress&w=768 1x, http://alison-d-photography.imgix.net/img/alison-4.JPG?auto=compress&w=768&dpr=2 2x">
    <source media="(min-width: 480px)" srcset="http://alison-d-photography.imgix.net/img/alison-4.JPG?auto=compress&w=480 1x, http://alison-d-photography.imgix.net/img/alison-4.JPG?auto=compress&w=480&dpr=2 2x">
    <img src="http://alison-d-photography.imgix.net/img/alison-4.JPG" alt="">
  </picture>
  <h1>my cat. Jk, I love them the same! lol</h1>

  <picture>
    <source media="(min-width: 768px)" srcset="/static/img/alison-2.JPG?auto=compress&w=768 1x, http://alison-d-photography.imgix.net/img/alison-2.JPG?auto=compress&w=768&dpr=2 2x">
    <source media="(min-width: 480px)" srcset="http://alison-d-photography.imgix.net/img/alison-2.JPG?auto=compress&w=480 1x, http://alison-d-photography.imgix.net/img/alison-2.JPG?auto=compress&w=480&dpr=2 2x">
    <img src="http://alison-d-photography.imgix.net/img/alison-2.JPG" alt="">
  </picture>
  <h1>You get sneak peaks within a week of your wedding!</h1>

  <picture>
    <source media="(min-width: 768px)" srcset="http://alison-d-photography.imgix.net/img/alison-3.JPG?auto=compress&w=768 1x, http://alison-d-photography.imgix.net/img/alison-3.JPG?auto=compress&w=768&dpr=2 2x">
    <source media="(min-width: 480px)" srcset="http://alison-d-photography.imgix.net/img/alison-3.JPG?auto=compress&w=480 1x, http://alison-d-photography.imgix.net/img/alison-3.JPG?auto=compress&w=480&dpr=2 2x">
    <img src="http://alison-d-photography.imgix.net/img/alison-3.JPG" alt="">
  </picture>
  <h1>I've shot weddings in 4 states and have plans for more!</h1>


  <img id="music" src="http://alison-d-photography.imgix.net/img/alison-5.JPG?auto=compress&w=768 2x" alt="">
  <h1>I'll sing along, "Sweet Caroline! Ba ba ba!"</h1>
</div>

{{template "contact" .}}

{{end}}
