{{define "body"}}
{{template "nav" .}}
<div id="portfolio">
  <header>
    <div class="topic">{{.Topic}}</div>
    <h1>{{.Title}}</h1>
    <p>{{.Body}}</p>
  </header>
  {{$folder := .Folder}}
  <div id="portfolio-images">
  {{range .Images}}
    <picture>
      <source media="(min-width: 1000px)" srcset="{{$folder}}{{.}}?auto=compress&w=1000 1x, {{$folder}}{{.}}?auto=compress&w=1000&dpr=2 2x">
      <source media="(min-width: 768px)" srcset="{{$folder}}{{.}}?auto=compress&w=768 1x, {{$folder}}{{.}}?auto=compress&w=768&dpr=2 2x">
      <source media="(min-width: 480px)" srcset="{{$folder}}{{.}}?auto=compress&w=480 1x, {{$folder}}{{.}}?auto=compress&w=480&dpr=2 2x">
      <img src="{{$folder}}{{.}}?auto=compress&w=1000&dpr=2" alt="">
    </picture>
  {{end}}
  </div>

  <button id="more-portfolio">Load More</button>
</div>

{{template "contact" .}}

{{end}}
