{{define "body"}}
{{template "nav" .}}
<div id="portfolio">
  <header>
    <div class="topic">Engagement Portfolio</div>
    <h1>First Date Vibes</h1>
    <p>If you’re fueled by windblown hair and fresh mountain air, then fill out this contact form and I'll send you my cute little guide that contains my availability, pricing, links to more albums, and a little more!</p>
  </header>
  {{$folder := .Folder}}
  {{range .Images}}
    <picture>
      <source media="(min-width: 1000px)" srcset="{{$folder}}{{.}}?auto=compress&w=1000 1x, {{$folder}}{{.}}?auto=compress&w=1000&dpr=2 2x">
      <source media="(min-width: 768px)" srcset="{{$folder}}{{.}}?auto=compress&w=768 1x, {{$folder}}{{.}}?auto=compress&w=768&dpr=2 2x">
      <source media="(min-width: 480px)" srcset="{{$folder}}{{.}}?auto=compress&w=480 1x, {{$folder}}{{.}}?auto=compress&w=480&dpr=2 2x">
      <img src="{{$folder}}{{.}}" alt="">
    </picture>
  {{end}}
</div>

{{template "contact" .}}

{{end}}
